---
import Profile from './Content/Profile.astro';
import History from './Content/History.astro';
import Education from './Content/Education.astro';
import Courses from './Content/Courses.astro';
import Hobby from './Content/Hobby.astro';
import Technologies from './Content/Technologies.astro';
---
<div class="pt-10 mb-10 flex flex-col items-start lg:mb-0 lg:w-3/4 border-l-4 border-l-gray ml-10">
    <div class="text-black dark:text-white">
        <Profile />
        <History />
        <Education />
        <Courses />
        <Hobby />
        <Technologies />
    </div>
</div>
