---
import Details from './Sidebar/Details.astro';
import Skills from './Sidebar/Skills.astro';
import Languages from './Sidebar/Languages.astro';
import Links from './Sidebar/Links.astro';
---
<div class="pt-10 mb-10 flex flex-col items-start w-1/4">
    <div class="text-black dark:text-white w-full">
        <Details />
        <Links />
        <Languages />
        <Skills />
    </div>
</div>
