---
import { header } from "../../data/data";

const { title, subtitle } = header;
---

<section
    data-testid="resume-title"
    class="flex resume-title border-b-2 border-b-gray pb-3"
    >
    <div class="flex-row items-start w-full">
        <div class="text-black dark:text-white flex-col">
            <h1 class="text-5xl font-bold uppercase w-1">{title}</h1>
            <h2 class="text-tiny font-normal">{subtitle}</h2>
        </div>
        <div class="flex-col text-black text-tiny">
            photo
        </div>
    </div>
</section>