---
import { header } from "../../data/data";

const { title, subtitle } = header;

---
<section
    data-testid="resume-title"
    class="flex resume-title border-b-2 border-b-gray pb-5"
    >
    <div class="mb-10 flex-row items-start lg:mb-0 w-full">
        <div class="text-black dark:text-white flex-col w-1">
            <h1 class="text-5xl font-bold uppercase">{title}</h1>
            <h2 class="text-tiny font-normal">{subtitle}</h2>
        </div>
        <div class="flex-col text-black text-tiny">
            photo
        </div>
    </div>
</section>