---
import { embeds } from "../data/data";
import { settings } from "../data/settings";

const { username, eventType } = embeds.calendly;
---
{settings.calendly
<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a href="" onclick="Calendly.initPopupWidget({url: `https://calendly.com/${username}/${eventType}`});return false;">Schedule time with me</a>
<!-- Calendly link widget end -->
    }
