---
import tailwindConfig from "../../tailwind.config.js";
import {getLangFromUrl} from "../i18n/utils";
import {useTranslations} from "../i18n/utils";
const color = tailwindConfig.theme.colors.orange;
const lightColor = tailwindConfig.theme.colors.lightorange;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const name = t('ribbon.name');
---
<style define:vars={{ color, lightColor }}>
    .box {
        //width: 200px; height: 300px;
        position: relative;
        //border: 1px solid #BBB;
        //background: #EEE;
    }
    .ribbon {
        position: absolute;
        left: -5px; top: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px; height: 75px;
        text-align: right;
    }
    .ribbon span {
        font-size: 10px;
        font-weight: bold;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        width: 100px;
        display: block;
        background: var(--color);
        background: linear-gradient(var(--lightColor) 0%, var(--color) 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 19px; left: -21px;
    }
    .ribbon span::before {
        content: "";
        position: absolute; left: 0; top: 100%;
        z-index: -1;
        border-left: 3px solid var(--color);
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid var(--color);
    }
    .ribbon span::after {
        content: "";
        position: absolute; right: 0; top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid var(--color);
        border-bottom: 3px solid transparent;
        border-top: 3px solid var(--color);
    }
</style>

<div class="box">
    <div class="ribbon"><span><a href="/resume">{name}</a></span></div>
</div>
