---
const { title, value } = Astro.props;
---

<div>
    <div class='text-tiny'>
        <p>{title}</p>
    </div>

    <div class="progress mb-3" style="height: 10px;">
        <div
                class="progress-bar bg-black"
                role="progressbar"
                style=`width: ${value}%`
                aria-valuenow={value}
                aria-valuemin="0"
                aria-valuemax="100"
        />
    </div>
</div>