---
let underlined = '';
let rest = '';
const { title, class: className } = Astro.props;
if (title && title.length > 2) {
    [underlined, rest] = [title.slice(0, 2), title.slice(2)];
}
---
<style>
    .block-header-divider {
        @apply mt-3;
    }
</style>

<div class=`block ${className}`>
    <h1 class="block-header"><span class="underline underline-offset-4 decoration-4">{underlined}</span>{rest}</h1>
    {title && <div class="block-header-decoration"></div>}

    <slot />
</div>
