---
import { details } from "../../../data/data";
import Block from "./Block.astro";

const { address, phone, email } = details;
---

<Block title="Details">
    <h2 class="uppercase font-bold text-base mt-3">Address</h2>
    <div class="text-tiny">
        {(address as string[]).map((line) => (
                <p>{line}</p>
        ))}
    </div>

    <h2 class="uppercase font-bold text-base mt-3">Phone</h2>
    <div class="text-tiny">
        <p>{phone}</p>
    </div>

    <h2 class="uppercase font-bold text-base mt-3">Email</h2>
    <div class="text-tiny">
        <p>{email}</p>
    </div>
</Block>
