---
import { details } from "../../../data/data";

const { address, phone, email } = details;
---
<div class="mb-20">
    <h1 class="uppercase font-bold text-3xl">Details</h1>
    <div class="border-t-4 mb-10 w-11"></div>

    <h2 class="uppercase font-bold mt-7">Address</h2>
    <div>
        {address.map((line, index) => (
            <p key={index}>{line}</p>
        ))}
    </div>

    <h2 class="uppercase font-bold mt-7">Phone</h2>
    <div>
        <p>{phone}</p>
    </div>

    <h2 class="uppercase font-bold mt-7">Email</h2>
    <div>
        <p>{email}</p>
    </div>
</div>