---
import { links } from "../../../data/data";
import {Icon} from "astro-icon";

const data = links
    .filter(item => item.enabled === true)
    .sort((a, b) => a.priority - b.priority)

---
<div class="mb-20">
<h1 class="uppercase font-bold text-3xl">Links</h1>
    <div class="border-t-4 mb-10 w-11" ></div>

    {
        data.map(item => (
                <p class="pb-5 underline">
                    <a href={item.url} target="_blank" rel="noopener" aria-label={item.ariaLabel}
                    >{item.name}</a>

                </p>
        ))
    }

</div>