---
import { links } from "../../../data/links";
import { Icon } from "astro-icon";
import Block from "./Block.astro";

const data = links
    .filter(item => item.enabled === true)
    .sort((a, b) => a.priority - b.priority)

---

<Block title="Links">
    {
        data.map(item => (
                <p class="pb-2 underline text-tiny">
                    <a
                            href={item.url}
                            target="_blank"
                            rel="noopener"
                            aria-label={item.ariaLabel}
                    >
                        {item.name}
                    </a>
                </p>
        ))
    }
</Block>
