---
import { links } from "../../../data/links";
import { Icon } from "astro-icon";
import Block from "./Block.astro";
import { Link } from 'astro-link';


const data = links
    .filter(item => item.enabled === true)
    .sort((a, b) => a.priority - b.priority)

---

<Block title="Links">
    {
        data.map(item => (
                <p class="text-tiny">
                    <Link
                            href={item.url}
                            title={item.name}
                            externalInNewTab={true}
                            class="text-black"
                    >
                        {item.name}
                    </Link>
                </p>
        ))
    }
</Block>
