---
import { courses } from "../../../data/data";
import { preformatDate } from "../../../utils/utils";
import Block from "./Block.astro";
---

<Block title="Courses">
    {
        courses.map((item) => (
                <div>{item.subject}</div>
                <div class="text-tiny"><span>{preformatDate(item.since)} — {preformatDate(item.until)}</span></div>
        ))
    }
</Block>
