---
const { noBullet } = Astro.props;
---

<div class="text-xs">
    {noBullet && <ul class="pl-0">
        <slot />
    </ul>}

    {!noBullet && <ul style="list-style-type:disc;">
        <slot />
    </ul>}
</div>
