---
import { profile } from "../../../data/data";
import Block from "./Block.astro";
import List from "./List.astro";
import ListItem from "./ListItem.astro";
---

<Block title="Profile">
    <div class="text-tiny">
        <List>
            {profile.map((item) => (
                    <ListItem subject={item} />
            ))}
        </List>
    </div>
</Block>
