---
import Content from './Content/Content.astro';
---
<div class="pt-20 mb-10 flex flex-col items-start lg:mb-0 lg:w-3/4 border-l-2 border-l-gray ml-10">
    <div class="text-black dark:text-white">
        <Content />
    </div>
</div>
