---
import To from './Sidebar/To.astro';
import From from './Sidebar/From.astro';
---
<div class="pt-20 mb-10 flex flex-col items-start w-1/4">
    <div class="text-black dark:text-white w-full">
        <To />
        <From />
    </div>
</div>
