---
import { Icon } from 'astro-icon';
import { links } from '../../data/liks';

const data = links
	.filter(item => item.enabled === true)
	.sort((a, b) => a.priority - b.priority)
---
{
	data.map(item => (
	<>
		<a href={item.url} target="_blank" rel="noopener" aria-label={item.ariaLabel}
		><Icon
			class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
			name={item.icon}
		/></a>

	</>
	))
}

